* {
    box-sizing: border-box;

}

body {
    background-color: rgba(243, 243, 243, 1);
}

.container {
    max-width: 50%;
    margin: 0 auto;

}


.accordion__item .accordion__title {
    position: relative;
    display: block;
    padding: 13px 60px 15px 13px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-decoration: none;
    background: linear-gradient(230deg, rgba(216, 200, 94, 1) 0%, rgba(148, 183, 107, 1) 100%);
    border-radius: 3px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    cursor: pointer;
}

.accordion__item .accordion__title:hover {
    color: rgba(86, 98, 61, 1);
    background: linear-gradient(90deg, rgba(216, 200, 94, 1) 0%, rgba(148, 183, 107, 1) 100%);
    transform: scale(1.05);
    transition: all 0.5s ease-out;
}

.accordion__item .accordion-active {
    background: rgba(216, 200, 94, 1);
    color: rgba(86, 98, 61, 1);
}

.accordion__item .accordion__title .accordion__arrow {
    position: absolute;
    top: 13px;
    right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #d8c85e;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-out;
    transition: 0.5s ease-out;
}

.accordion__item .accordion__rotate {
    transform: rotate(360deg);

}

.accordion__item .accordion__content {
    padding: 30px;
    margin-bottom: 2px;
    font-size: 14px;
    display: none;
    background-color: #ffffff;
}

.accordion__item .accordion__arrow-item {
    font-weight: 700;
}